@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


/*

font-family: 'Oswald', sans-serif;

*/

*{
  box-sizing: border-box;
}



body{
    margin: 0;
font-family: 'Handlee', cursive;
font-family: 'Oswald', sans-serif;

}

img{
    max-width: 100%;
}

header{
background-color: rgb(19, 17, 17);
padding: 10px 0;


}

.container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
     flex-basis: 20%;
}

nav{  

   flex-basis: 80%;
   
}

.logo img {
    width: 150;
}

nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      
    
}

nav ul li a {
     color: #fff;
     text-decoration: none;
     text-transform: capitalize;
     font-size: 17px;
     letter-spacing: 0.1px;
     padding: 10px 30px;
     border-radius: 6px;
     transform-origin: 0.04s;


}

nav ul li a:hover{

    background-color: #005999;
}


.hero_banner_section{
     background-color: #005999;
     background-image: url(../images/back\ image.jpg);
     height: 500px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgb(168, 38, 77);
     background-attachment: fixed;
    
}

.hero_banner_section h1{
  font-size: 80px;
  color:#a7aca6;
  background-image: url(../images/back\ image.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 900px;
  text-transform: uppercase;


}
.gallery-section{
    padding: 50px 0;
}
.gallery{
    flex-basis: 33.33%;
    padding: 12px;
}
.gallery img{
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
    
.team_section{
    padding: 10px 0;
    background-color: #101a12;
}
.team_section.container{
    overflow-y: scroll;
}
.team{
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    
   
}
.team dev{
    width: 100px;

}

